#app_container {
    display: flex;
    justify-content: center;
}
  
#app, #inputContainer {
    margin: 0 auto;
    text-align: center;
}

#inputField {
    width: 100%
}

#inputHeight, #inputWidth {
    width:67%
}

.button {
    width: 100%
  }
