#app_container {
    display: flex;
    justify-content: center;
}
  
#app, #inputContainer {
    margin: 0 auto;
    text-align: center;
}

/* .button {
    display: block;
    background-color: #bbb;
    margin: 10px;
    padding: 10px
  } */
